<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <h1>Create an Account</h1>

    <div th:if="${param.success}">
        <p style="color: green;">Registration successful! You can now log in.</p>
    </div>

    <form id="registration-form" th:action="@{/register}" th:object="${user}" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" th:field="*{username}" required autofocus="autofocus" />
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;"></p>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" th:field="*{password}" required />
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></p>
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>

    <p>Already have an account? <a th:href="@{/login}">Log in here</a>.</p>

</body>
</html>
